body{
    margin: 0;
}

.form{
    background-color: red;
    padding: 30px 15px;
    margin: 30px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 20px 0 30px 60px;
    height: 50vh;/*viewport height alto pantalla*/
    width: 50vw;
}

.form-input{
    padding: 3px;
    width: 100%;
    margin: 10px 0;
}

.form-send{
    background-color: aqua;
    width: 50%;
    border: 7px solid black;
    border-top: 3px solid blue;
}

.box{
    background-color: #5ad6f488;
    margin: 10px;
}

.box-default {
    font-family: sans-serif;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(45,80,21,.6);
}

.box-new {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 10px solid black;
    padding: 10px;
}

span{
    font-size: 1rem; /*elemento raiz*/
}

p{
    background-color: #5ad6f488;
    width: 50%;
    font-size: 2em; /*elemento padre ejemplo .box-default*/
}