.box{
    width: 400px;
    height: 400px;
    background-color: #f00;
    margin: auto;
    text-align: center;
    font-size: 30px;
    transition-delay: 500ms;
    transition-duration: 1s;
    transition-property: color, background-color;
    font-size: 30px;
    overflow: auto;
}

.box:hover{
    color: #999;
    background-color: aquamarine;
}

.text-flow{
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: #f00;
    box-sizing: border-box;
}

.nowrap{
    white-space: nowrap;/*no haga salto de linea*/
    height: 20px;
    background-color: aquamarine;
}

.pre{
    background-color: rgb(48, 95, 79);
    white-space: pre-wrap;/*similar al normal, detecta salto de linea que yo coloque en el html*/
}

.puntos-suspensivos{
    background-color: azure;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.object-fit{
    width: 200px;
    height: 100px;
    object-fit: contain;/*imagen se adapta al width y height*/
}

.outline{
    width: 300px;
    margin-bottom: 40px;
    color: #fff;
    background-color: blue;
    border: 4px solid #000;
    outline: 16px solid #0f0;/*esto es un borde visual que no ocupa espacio*/
}

.outline-accesibilidad{
    padding: 6px;
    border: none;
    outline: 1px solid blue;
    outline-offset: 3px;
    border-top: 3px solid #000;
    background-color: #999;
}

.outline-accesibilidad:focus{
    border-top: 3px solid blue;
    color:blue;
}

.outline-accesibilidad:focus-visible{
    outline: none;
}